<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.UserMapper">
    <sql id="selectId">
        id,
        userName,
        accountName,
        (select group_concat(name) from ly_role
        where ly_role.id
        in (SELECT roleId FROM ly_user_role WHERE
        userId=ly_user.id) ) roleName,
        password,
        description,
        locked,
        credentialsSalt,
        createTime
    </sql>

    <select id="findUserPage" resultType="com.test.entity.UserFormMap">
        select
        <include refid="selectId"/>
        from ly_user
        where 1 = 1
        <if test="accountName != null and accountName != ''">
            and accountName like '%${accountName}%'
        </if>
        <if test="column != null">
            order by ${column} ${sort}
        </if>
    </select>

</mapper>